body {
	font-family: "Montserrat", sans-serif;
}

#navbarWrapper {
	background-color: #007aff;
	font-size: large;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logo {
	width: 27px;
	height: 9px;
	background: linear-gradient(96.34deg, #e537b0 0%, #c040df 100%);
	border-radius: 4.5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#search_bar {
	display: flexbox;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#inputBox {
	font-size: large;
	padding-left: 30px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#search_icon {
	position: relative;
	top: 10px;
	left: 25px;
	font-size: large;
	color: #007aff;
}

#exploreBtn {
	background-color: #007aff;
}

#exploreBtn:hover {
	background-color: black;
}

#exploreItems {
	background-color: #007aff;
}

/*================================================ NavBar==================================================== */

/* ==============================================quotesDiv ===================================================*/

.quotesDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 55vh;
	width: 100%;
	background-color: #007aff;
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	width: 90%;
	border-radius: 25px;
	padding: 30px 30px 25px;
	margin-top: 10px;
	margin-bottom: 35px;
	/* background-color: #f5f5f5; */
	/* background-image: url("https://res.cloudinary.com/dujpte5nz/image/upload/v1685217375/pexels-karolina-grabowska-4195586_tlvbqf.jpg"); */
	background-color: white;
	background-size: cover;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.wrapper header {
	font-size: 34px;
	font-weight: 600;
	text-align: center;
}

.wrapper .content {
	margin: 32px 0;
}

.content .quote-area {
	display: flex;
	justify-content: center;
}

.quote-area i {
	font-size: 15px;
}

.quote-area i:first-child {
	margin: 3px 10px 0 0;
}

.quote-area i:last-child {
	display: flex;
	align-items: flex-end;
	margin-left: 4px;
	margin-bottom: 29px;
}

.quoteContent {
	font-size: 24px;
	font-weight: 400;
}

.quote-area .quote {
	font-size: 24px;
	word-break: break-all;
}

.content .author {
	display: flex;
	margin-top: 20px;
	font-size: 27px;
	font-weight: 500;
	font-style: italic;
	justify-content: flex-end;
}

.author span:first-child {
	margin: -15px 5px 0 0;
	font-family: monospace;
}

.wrapper .buttons {
	border-top: 1px solid #ccc;
}

.buttons .features {
	display: flex;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.features ul {
	display: flex;
}

.features ul li {
	list-style: none;
	margin: 0 5px;
	height: 47px;
	width: 47px;
	border: 2px solid #5372f0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5372f0;
	cursor: pointer;
	transition: all 0.3s ease;
}

.features ul li:hover {
	color: #fff;
	background-color: #5372f0;
}

.features button {
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-style: 16px;
	padding: 13px 22px;
	border-radius: 30px;
	background-color: #5372f0;
}

.loading {
	opacity: 0.7;
	pointer-events: none;
}

/* ==============================================quotesDiv ===================================================*/

/* Grid */

.container {
	margin-top: 35px;
	margin-bottom: 0px;
	min-height: 45vh;
	background-color: white;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: larger;
}

.tile {
	height: 400px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.tile img {
	height: 100%;
	width: 100%;
	transition: 0.4s all;
}

.tile:hover img {
	filter: brightness(50%);
	transform: scale(1.1);
}

.tile-text {
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	left: 50%;
	top: 10px;
	background-color: #007aff;
	color: black;
	font-size: larger;
	font-weight: 900;
	transform: translateX(-50%);
}

.hero-subheading {
	font-size: 24px;
	font-weight: 100;
}

.heading-adventure {
	margin-left: 50px;
}

/* Grid */

/* =========================================footer CSS====================================================== */

footer {
	width: 100%;
	padding: 16px 0px;
	color: #999;
	vertical-align: bottom;
	margin-top: 40px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: large;
	font-weight: 200;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#container-footer {
	position: relative;
	left: 10px;
	top: 30px;
	color: white;
	text-align: center;
	font-size: 25px;
}

#footer {
	display: flex;
	justify-content: space-between;
	background-color: #007aff;
}

.footer-icon {
	height: 13vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#footer ul {
	display: flex;
}

#footer ul li {
	position: relative;
	display: block;
	height: 40px;
	width: 40px;
	font-size: 20px;
	line-height: 36px;
	color: whitesmoke;
	background-color: black;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 15px;
}

#footer ul li:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #d35400;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
	transition: 0.5s;
}

#footer ul li:hover {
	transform: scale(1.2);
}

#footer ul li:nth-child(1):before {
	background-color: #0a82ed;
}

#footer ul li:nth-child(1):hover:before {
	filter: blur(4px);
	box-shadow: 0 0 15 #0a82ed;
	transform: scale(1.2);
}

#footer ul li:nth-child(2):before {
	background-color: #04a2ffb3;
}

#footer ul li:nth-child(2):hover:before {
	filter: blur(4px);
	box-shadow: 0 0 15 #04a2ffb3;
	transform: scale(1.2);
}

#footer ul li:nth-child(3):before {
	background: #d6249f;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

#footer ul li:nth-child(3):hover:before {
	filter: blur(4px);
	box-shadow: 0 0 15 #e23670;
	transform: scale(1.2);
}

#footer ul li:nth-child(4):before {
	background: #1565c0;
}

#footer ul li:nth-child(4):hover:before {
	filter: blur(4px);
	box-shadow: 0 0 15 #0a82ed;
	transform: scale(1.2);
}

#footer ul li:nth-child(5):before {
	background-color: #ff1a1a;
}

#footer ul li:nth-child(5):hover:before {
	filter: blur(4px);
	box-shadow: 0 0 15 #ff1a1a;
	transform: scale(1.2);
}

/* =========================================footer CSS====================================================== */
