<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FUNCARDS</title>
		<link rel="stylesheet" href="./ticTacToe.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
		<script src="fontawesome/js/all.js"></script>

		<!-- //font-family : Montserrat -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	</head>

	<body>
		<!-- --------------------------------- Header_NavBar ------------------------------------------------------- -->
		<div class="_handleHeader">
			<nav class="navbar navbar-light navbar-expand-sm">
				<div class="container-fluid">
					<a class="navbar-brand" href="index.html">
						<div id="icon"></div>
						FUNCARDS</a
					>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarItems">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse" id="navbarItems">
						<ul class="navbar-nav d-flex justify-content-end w-100">
							<li class="nav-item">
								<a href="index.html" class="nav-link"> Home </a>
							</li>
							<li class="nav-item">
								<a
									href="https://www.linkedin.com/in/shivam-singh-51a076271/"
									class="nav-link">
									About
								</a>
							</li>
							<li>
								<div class="dropdown">
									<button class="dropbtn">
										Services
										<i class="fa fa-caret-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="components/ticTacToe.html"> Tic Tac Toe </a>
										<a href="#"> BMI Calculator</a>
										<a href="#"> Snake Game</a>
										<a href="#"> Resize & Compress Image</a>
										<a href="#"> Maths Quiz</a>
										<a href="#"> Typing Test</a>
										<a href="#"> Weather Checker</a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"> Support </a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!----------------------------------- Header_NavBar --------------------------------------------------------->

		<!-- Footer -->

		<footer id="footer">
			<div id="container-footer" class="">
				© 2023 FUNCARDS <span style="font-size: 30px"></span>
			</div>

			<ul class="footer-icon">
				<li><i class="fab fa-facebook-f"></i></li>
				<li><i class="fab fa-twitter"></i></li>
				<li><i class="fab fa-instagram"></i></li>
				<a href="https://www.linkedin.com/in/shivam-singh-51a076271/">
					<li><i class="fab fa-linkedin-in"></i></li>
				</a>
				<li><i class="fab fa-youtube"></i></li>
			</ul>
		</footer>

		<!-- TODO: MODULE_LAYOUT -->
		<!-- Add scripts needed for bootstrap to work -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script src="index.js" defer></script>
	</body>
</html>
